* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4b4ea;
}
.container{
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  min-height: 40vh;
  width: 40vh;
}
form {
  margin: 2px 0 ;
}
form select,input {
  width: 100%;
  border: none;
  outline: none;

}
form input {
  border:1px solid lightblue;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
.select-container img{
  max-width: 3rem;
}
.select-container{
  border-radius: 0.75rem;
  display: flex;
  width: 6rem;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}